* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    position: absolute;

}

.head {
    width: 100%;
    background-color: rgb(226, 226, 226);
    height: 50px;
    line-height: 50px;
    position: relative;
}

.head ul {
    display: flex;
    justify-content: center;
}

.head ul li {
    padding: 0 40px;
    font-weight: bold;
}

.head ul li:hover a {
    color: white;
}

.footer {
    color: darkgray;
    font-weight: bolder;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid darkgray;
    text-align: center;
}